.header {
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0%;
  right: 0%;
}

.headerLogoLink {
  text-decoration: none;
  color: black;
}

.clinicLogo {
  width: 45px;
  height: 40px;
  margin-right: 20px;
}

.headerLogoSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarLogo {
  color: black;
  text-decoration: none;
}

.avatar {
  padding: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.avatar-dropdown-menu {
  top: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.menuItem {
  color: black;
  text-decoration: none;
}

.menuItemActive {
  color: rgb(208, 90, 6);
  text-decoration: underline;
}
