.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  position: absolute;
  bottom: 0;

  left: 0%;
  right: 0%;
}
