@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hidden {
  display: none !important;
}

.container {
  background-color: rgb(189, 248, 248);
  position: relative;
  min-height: 100vh;
  padding: 0;
}
